doctype html
html(lang="en")
  head
    title todo for devs
    meta(charset="utf-8")
    script(src="/js/jquery-2.2.4.js")
    script(type="text/javascript").
      $(function() {
        $("#commandForm").submit(function(evt) {
          $.ajax({
            type: "POST",
            url: "/requests",
            data: JSON.stringify({ ask: "add " + $("#commandText").val() }),
            dataType: "json",
            contentType: "application/json"
          });
        });
      });
  section
    h1 Balanced
    a(href="/tasks") Tasks
  body
    div(id="error")
    section
      form(id="commandForm")
        input(id="commandText" type="text" required)
        input(type="submit")
    section
      h2 Important and Urgent
      each task in tasks1
        form(action='/tasks/#{task._id}', method='post')
          div.name
            span.name=task.description
          div.delete
            input.btn.btn-danger.pull-right(type='submit', value='Delete')
    section
      h2 Important and Not Urgent
      each task in tasks2
        form(action='/tasks/#{task._id}', method='post')
          div.name
            span.name=task.description
          div.delete
            input.btn.btn-danger.pull-right(type='submit', value='Delete')
    section
      h2 Not Important and Urgent
      each task in tasks3
        form(action='/tasks/#{task._id}', method='post')
          div.name
            span.name=task.description
          div.delete
            input.btn.btn-danger.pull-right(type='submit', value='Delete')
    section
      h2 Not Important and Not Urgent
      each task in tasks4
        form(action='/tasks/#{task._id}', method='post')
          div.name
            span.name=task.description
          div.delete
            input.btn.btn-danger.pull-right(type='submit', value='Delete')


